profiles {
    standard {
        includeConfig 'UAB_local.config'
    }

    uab_local {
        includeConfig 'UAB_local.config'
    }

    uab_cheaha {
        includeConfig 'UAB_common.config'
        includeConfig 'UAB_cheaha.config'
    }

    uab_hydrogen {
        includeConfig 'UAB_common.config'
        includeConfig 'UAB_hydrogen.config'
    }
}

params {
    fpalgo = null
    ssalgo = null
    svalgo = 'delly,svaba'
}

trace {
    enabled = false
    file = 'pipeline_trace.txt'
    field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}

timeline {
    enabled = false
    file = 'timeline.html'
}

report {
    enabled = false
    file = 'report.html'
}

manifest {
    homePage = 'https://bitbucket.org/pathologyinformatics/goal-uab/'
    mainScript = 'goalConsensus.nf'
    nextflowVersion = '>=20.07.1'
}
