repoDir = "/scratch/goal_pipeline/v1.0"
dataDir = "/scratch/goal_pipeline"
scriptDir = "/scratch/goal_pipeline/v1.0"

docker {
  enabled = true
  runOptions="-v $scriptDir/process_scripts:$scriptDir/process_scripts -v $dataDir/work_dir:$dataDir/work_dir -v $dataDir/PIPELINE_INPUT:$dataDir/PIPELINE_INPUT -v /scratch/PIPELINE_OUTPUT/GOAL:/scratch/PIPELINE_OUTPUT/GOAL -v $dataDir/resources:$dataDir/resources -v $dataDir/panels:$dataDir/panels -v $dataDir/snpEff/GRCh37.75:/usr/local/bin/snpEff/data/GRCh37.75"
}

env {
  TMPDIR='/tmp'
}

params {
  input = "$dataDir/PIPELINE_INPUT"
  output = "/scratch/PIPELINE_OUTPUT/GOAL"
  genome = "$dataDir/resources/GOAL_GRCh37"
  capture = "$dataDir/panels/GOAL_GRCh37/goal_core497.hg19.bed"
  itdbed = "$dataDir/panels/GOAL_GRCh37/itd_genes.bed"
  reffa = "$params.genome/genome.fa"
  dbsnp = "$params.genome/dbSnp.vcf.gz"
}

process {
  executor = 'sge'
  penv = 'smp'
  clusterOptions = '-S /bin/bash'

  errorStrategy='retry'
  maxRetries=1

  cpus = 8
  time = 48.h
  memory = 8.GB

  withLabel: python {
    container = 'python:3.10'
  }

  withLabel: bcl_convert {
    container = 'aflanry/bcl-convert:3.10.5'
  }

  withLabel: trim {
    container = 'goalconsortium/trim_galore:1.1.3'
  }

  withLabel: abra2 {
    container = 'goalconsortium/abra2:1.0.9'
  }

  withLabel: profiling_qc {
    container = 'goalconsortium/profiling_qc:1.1.3'
  }

  withLabel: dnaalign {
    container = 'goalconsortium/dna_alignment:1.0.9'
  }

  withLabel: variantcalling  {
    container = 'goalconsortium/variantcalling:1.1.5'
  }

  withLabel: structuralvariant {
    container = 'goalconsortium/structuralvariant:1.1.4'
  }

  withLabel: pindel {
    container = 'goalconsortium/structuralvariant:1.1.4'
  }
}