dataDir = "/scratch/goal_pipeline"
scriptDir = "$baseDir"

docker {
  enabled = true
  runOptions="-v $scriptDir/process_scripts -v $dataDir/work_dir -v $dataDir/PIPELINE_INPUT -v /scratch/PIPELINE_OUTPUT/GOAL -v $dataDir/genome -v $dataDir/panels -v $dataDir/snpEff/GRCh37.75:/usr/local/bin/snpEff/data/GRCh37.75"
  cacheDir="/data/user/$USER/.singularity"
}

env {
  TMPDIR='/tmp'
}

params {
  input = "$dataDir/PIPELINE_INPUT"
  output = "/scratch/PIPELINE_OUTPUT/GOAL"
  genome = "$dataDir/resources/GOAL_GRCh37"
  capture = "$dataDir/panels/GOAL_GRCh37/goal_core497.hg19.bed"
  itdbed = "$dataDir/panels/GOAL_GRCh37/itd_genes.bed"
  reffa = "$params.genome/genome.fa"
  dbsnp = "$params.genome/dbSnp.vcf.gz"
}

process {
  executor = 'sge'

  errorStrategy='retry'
  maxRetries=1

  cpus = 16
  time = 2.h
  memory = 63.GB

  withLabel: trim {
    container = 'goalconsortium/trim_galore:1.1.3'
  }

  withLabel: abra2 {
    container = 'goalconsortium/abra2:1.0.9'
  }

  withLabel: profiling_qc {
    container = 'goalconsortium/profiling_qc:1.1.3'
  }

  withLabel: dnaalign {
    container = 'goalconsortium/dna_alignment:1.0.9'
  }

  withLabel: variantcalling  {
    container = 'goalconsortium/variantcalling:1.1.5'
  }

  withLabel: structuralvariant {
    container = 'goalconsortium/structuralvariant:1.1.4'
  }

  withLabel: pindel {
    container = 'goalconsortium/structuralvariant:1.1.4'
  }
}