params {
  repoDir="$baseDir"

  input = "/data/user/$USER/GOAL/PIPELINE_INPUT"
  output = "/data/user/$USER/GOAL/PIPELINE_OUTPUT"
  snpeff_vers = 'GRCh37.75';
  genome = "/data/user/$USER/GOAL/genome/GOAL_GRCh37"
  min = false
  skipITDSeek = true
  skipCNV = true
  skipMSI = true
  fpalgo = null
  ssalgo = null
  svalgo = "delly,svaba"
  markdups = 'picard'
  version = 'v4'
  seqrunid = 'runtest'
  capture = "/data/user/adrianu2/GOAL/panels/HALOPLEX_GRCh37/goal_haloplex.bed"
  itdbed = "/data/user/adrianu2/GOAL/panels/HALOPLEX_GRCh37/goal_haloplex_itd.bed"
  reffa = "$params.genome/genome.fa"
  dbsnp = "$params.genome/dbSnp.vcf.gz"
  indel = "$params.genome/GoldIndels.vcf.gz"
}